<div class="container">
    <form [formGroup]="loginForm">
        <h1 class="display-1">Login</h1>
        <mat-form-field class="full-width">
            <input matInput placeholder="Email address" formControlName="email">
            <mat-error> {{getErrorMessage()}} </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-error> Password is required </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="d-flex justify-content-center mb-2">
            Don't have an account yet? <a [routerLink]="['/register']" class="ml-2">Sign Up</a>
        </div>
        <button class="button" mat-raised-button color="primary" (click)="onSubmit()">Login</button>
    </form>
</div>