<div class="modal-header">
    <h4>{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close button" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h4><strong>{{modalBody}}</strong></h4>
    <span class="text-danger">{{modalWarning}}</span>
</div>
<div class="modal-footer">
    <button mat-raised-button color="warn" (click)="activeModal.dismiss()" class="mr-2">Cancel</button>
    <button mat-raised-button ngbAutofocus color="primary" (click)="activeModal.close()">Delete</button>
</div>