<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-1"><span class="accent"> Wholesale</span> application</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Fast, secure online shopping ? You couldn't ask for a better place !</p>
            <p>We are here for <span class="accent">you</span> ! We offer products in a <span
                    class="accent">variety</span> of categories.</p>
            <p>For <span class="accent">sure</span> you will find something which suits your needs. </p>
        </div>
        <div class="col-6">
            <figure class="figure wallet-image">
                <img src="../../assets/wallet.svg" class="figure-img img-fluid rounded wallet-image" width="90"
                    height="80">
                <figcaption class="figure-caption">We keep your money <span class="accent">safe !</span></figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-1">How does it work?</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center">
            <img src="../../assets/choices.svg" width="90" height="80">
            <div class="text">
                <h2 class="display-2">Place an order on desired products</h2>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <img src="../../assets/delivery-man.svg" width="90" height="80">
            <div class="text">
                <h2 class="display-2">Our couriers will accept the order as soon as possible</h2>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <img src="../../assets/delivery-man-client.svg" width="90" height="80">
            <h2 class="display-2">The parcel is delivered to you in no time</h2>
        </div>
        <div class="col-md-3 text-center">
            <img src="../../assets/satisfied-woman.svg" width="90" height="80">
            <h2 class="display-2">You are happy and full of joy because ordered products arrive fast</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <h1 class="display-1">Get started now by logging in into your account !</h1>
    </div>
</div>