<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top nav-background">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="../../assets/navbar_logo.png" width="200" height="40">
        </a>
        <ul class="navbar-nav ml-auto">
            <!-- O nas  -->
            <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/about']">About</button>
            </li>
            <!-- Produkty-->
            <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/products']">Browse products</button>
            </li>

            <!-- Twoje konto-->
            <div class="dropdown" *ngIf="!currentUser">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Your account
                </button>
                <div class="dropdown-menu">
                    <!-- <button class="dropdown-item" [routerLink]="['/user/details']">User data</button> -->
                    <button class="dropdown-item" *ngIf="!isClient" [routerLink]="['/user/order-history']">Your
                        orders</button>
                    <button class="dropdown-item" (click)="logout()">Log out</button>
                </div>
            </div>

            <!-- Panel pracownika -->
            <div class="dropdown" *ngIf="!isAdmin">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Admin panel
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" [routerLink]="['/admin/products']">Manage products</button>
                    <button class="dropdown-item" [routerLink]="['/admin/order-history']">Show order history</button>
                    <button class="dropdown-item" [routerLink]="['/admin/statistics']">Show statistics</button>
                </div>
            </div>

            <!-- Panel kuriera -->
            <li class="nav-item" *ngIf="!isCourier">
                <button type="button" class="btn btn-primary" [routerLink]="['/courier/orders']">Pending orders</button>
            </li>

            <!-- Logowanie  -->
            <li class="nav-item" *ngIf="!currentUser">
                <button type="button" class="btn btn-primary" [routerLink]="['/login']">Logowanie</button>
            </li>
        </ul>
    </div>
</nav>