.button-spacer {
    padding: 0 14px;
  }
  
  .flex-container {
    flex: 1 1 auto;
  }

.menu-spacer {
    flex: 1 1 auto;
  }
  
.nav-background {
  background-color:#673ab7 !important;
}

.btn-primary {
  background-color:#673ab7 !important;
  border-color: #673ab7 !important;

  &:focus {
    box-shadow: none !important;
  }
}
